{% extends "base.html" %}

{% block title %}house-bot | leave house-bot{% endblock %}

{% block content %}
<p>Are you sure you want to leave House-bot.</p>
<p>If you are then enter your password below and click submit. We will completely erase knowledge of your existence from our records.</p>
<div id="form" class="form">
  <form method="post" action="{% url 'close account' %}" id="close_account_form">
    {% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.password.errors }}
			<label class="" for="password">{{ form.password.label }}</label>
			{{ form.password }}
		</div>
		<div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Close your account" />
		</div>
  </form>
</div>
{% endblock content %}
