{% extends "base.html" %}
{% block title %}house-bot | set new password{% endblock %}

{% block content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" class="form" method="post">
  {% csrf_token %}
	{{ form.non_field_errors }}
	<div class="form-fieldwrapper clearfix">
		{{ form.new_password1.errors }}
		<label class="" for="new_password1">{{ form.new_password1.label }}</label>
		{{ form.new_password1 }}
	</div>
	{{ form.non_field_errors }}
	<div class="form-fieldwrapper clearfix">
		{{ form.new_password2.errors }}
		<label class="" for="new_password2">{{ form.new_password2.label }}</label>
		{{ form.new_password2 }}
	</div>
	<div class="form-submitwrapper clearfix">
		<input type="submit" class="button" value="Change my password" />
	</div>
</form>
{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, possibly because it has already been used.</p>
<p>Please request a new password reset.</p>
{% endif %}
{% endblock %}
