{% extends "base.html" %}

{% block title %}house-bot | set new password{% endblock %}

{% block content %}
<p>Your password has been set. You may go ahead and log in now.</p>
<ul class="button_menu">
	<a href="{% url 'login' %}"><li>Log in</li></a>
</ul>
{% endblock %}
