{% extends "base.html" %}

{% block title %}house-bot | reset password{% endblock %}

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<form id="form" class="form" action="" method="post">
  {% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.email.errors }}
			<label class="" for="email">{{ form.email.label }}</label>
			{{ form.email }}
		</div>
		<div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Reset password" />
		</div>
</form>
{% endblock %}
