{% extends "base.html" %}

{% block title %}house-bot | change group{% endblock %}

{% block content %}
<p>There is an existing account with this email address. You can only be in one group per email address. If you would like to change your group to <em>{{ cook_group.display_name }}</em> enter your password below.</p>
<div id="form" class="form">
  <form method="post" action="{% url 'sign up to group' %}" id="change_group_form">
    {% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.password.errors }}
			<label class="" for="password">{{ form.password.label }}</label>
			{{ form.password }}
		</div>
    <input type="submit" class="button" value="Change your group" />
  </form>
</div>
{% endblock content %}
