{% extends "base.html" %}

{% block title %}house-bot | sign up{% endblock %}

{% block content %}
{% if group %}
<p>Welcome to House-bot! Fill in the form below to sign up and join the <em>{{ group.display_name }}</em> cooking group.</p>
{% endif %}
<div id="form" class="form txt-white">
  <form method="post" action="{% url 'sign up' %}" id="registerform" class="fill">    
    {% csrf_token %}
		{{ form.non_field_errors }}
    <div class="form-fieldwrapper clearfix">
      {{ form.display_name.errors }}
      <label class="" for="display_name">{{ form.display_name.label }}</label>
      {{ form.display_name }}
    </div>
    <div class="form-fieldwrapper clearfix">
      {{ form.email.errors }}
      <label class="" for="email">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    <div class="form-fieldwrapper clearfix">
      {{ form.password1.errors }}
      <label class="" for="password1">{{ form.password1.label }}</label>
      {{ form.password1 }}
    </div>
    <div class="form-fieldwrapper clearfix">
      {{ form.password2.errors }}
      <label class="" for="password2">{{ form.password2.label }}</label>
      {{ form.password2 }}
    </div>
    <div class="form-captchawrapper clearfix">
      {{ form.captcha.errors }}
      <label class="" for="captcha">So we know you are a real person</label>
      {{ form.captcha }}
    </div>		
    {{ form.cook_group }}
    <div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Sign up" />
		</div>
  </form>
</div>
{% endblock content %}
