{% extends "base.html" %}

{% block title %}house-bot | verification required{% endblock %}

{% block content %}
<h1>Email verification requried</h1>
<p>We have sent you an email to welcome you to House-Bot. Please verify your email address and finish your activation by following the link in this email. Remember to check you junk mail and add us to your address book to ensure we don't go to the junk again.<p>
<p>If you cannot find the email then please click <strong><a href="{% url 'resend' %}">here</a></strong> to receive a new one.</p>
{% endblock content %}
