{% extends "email_base.html" %}

{% block content %}
<tr>	
  <td width="15%"/>
  <td width="70%">
		{% if description %}
		<p>{{ description }}</p>
		{% endif %}
		<h1>Can you cook tonight?</h1>
	</td>
	<td width="15%"/>	
</tr>		

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=1 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">want to</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=2 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">can</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=3 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">rather not</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=4 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">can't</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=5 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">not in</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr>	
  <td width="15%"/>
  <td width="70%" style="text-align: center;">
		<p>Remember that you must have an internet connection to make a choice.</p>
	</td>
	<td width="15%"/>	
</tr>	

<tr>
  <td colspan="3" height=20px/>
</tr>	
{% endblock content %}
