{% load staticfiles %}
<html>
	<head>
 		<link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'/>
		<style>
			@import url(http://fonts.googleapis.com/css?family=Merienda);
		</style>
	</head>
  <table border="0" cellspacing="0" cellpadding="5" bgcolor="#3988cf" width="100%" style="font-family: Roboto, Helvetica, sans-serif; font-size: 13px; color:#ffffff;">
    <tr>
      <td colspan="3" bgcolor="#2D69BF" width="100%" style="padding:20px 50px;">
        <center>
          <a href="http:/www.house-bot.com">
						<img src="http://www.house-bot.com{% static 'img/header-title.png' %}"/>
          </a>
        </center>
      </td>
    </tr>

    {% block content %}{% endblock %}	

    <tr>
      <td colspan="3"  bgcolor="#33394C" width="100%" style="font-size: 10px; padding:20px 50px; color:#62708B; line-height:15pt">
				<p>Questions? click <a href="http://www.house-bot.com{% url 'contact_form' %}" style="color:#62708B;">here</a> to send us a message.</p>
				<p>You are receiving this email because you are registered with <a href="http:/www.house-bot.com" style="color:#62708B; text-decoration:none"><strong>house-bot</a>. Edit your email preferences by logging in to your account at <a href="http://www.house-bot.com" style="color:#62708B;">www.house-bot.com</a> and changing you messaging settings.<p>
			</td>
    </tr>

  </table>
</html>
