{% extends "email_base.html" %}

{% block content %}
{% autoescape off %}
<tr>
	<td colspan="3" bgcolor="#ffffff" style="padding: 10px 50px; color:#33394C" >
		<h2 style="color:#2D69BF">{{ heading }}</h2>
		{% for p in paragraphs %}
		<p>{{ p }}</p>
		{% endfor %}
		<p>The <a href="http:/www.house-bot.com" style="color:#33394C; text-decoration:none"><strong>house-bot</strong></a> team.</p>				
	</td>
</tr>
{% endautoescape %}
{% endblock content %}
