{% extends "email_base.html" %}

{% block content %}
		<tr>
			<td colspan="3" bgcolor="#ffffff" style="padding: 10px 50px; color:#33394C" >
				<h2 style="color:#2D69BF">Group settings update.</h2>
				<p>Your house-bot group settings have been updated by {{ user.first_name }}.</p>
				<p>Your new settings are:</p>
				<ul>
					<li>Name: {{ cook_group.display_name }}</li>
					<li>Decision time: {{ cook_group.next_t_decision }}:00 (24hr)</li>
					<li>Time zone: {{ cook_group.t_zone }}</li>
				</ul>
				{% if t_change %}
				<p>Changes made to the decision time will take effect at 1am.</p>
				{% endif %}
				<p>The <a href="http:/www.house-bot.com" style="color:#33394C; text-decoration:none"><strong>house-bot</strong></a> team.</p>
			</td>
		</tr>
    <tr>
      <td colspan="3" bgcolor="#ffffff" height=10px/>
    </tr>
{% endblock content %}
