<!DOCTYPE html>
<html>
	<head>
 		<link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'/>
		<style>
			@import url(http://fonts.googleapis.com/css?family=Merienda);
		</style>
	</head>
  <table border="0" cellspacing="0" cellpadding="5" bgcolor="#3988cf" width="100%" style="font-family: Roboto, Helvetica, sans-serif; font-size: 13px; color:#ffffff">
    <tr>
      <td colspan="3" bgcolor="#2D69BF" width="100%">
        <center>
          <a href="http:/www.house-bot.com">
						<img src="{% url 'img/header-logo.png' %}">
          </a>
        </center>
      </td>
    </tr>
		<tr>	
  <td width="15%"/>
  <td width="70%">
		{% if description %}
		<p>{{ description }}</p>
		{% endif %}
		<h1>Can you cook tonight?</h1>
	</td>
	<td width="15%"/>	
</tr>		

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=1 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">want to</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=2 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">can</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=3 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">rather not</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=4 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">can't</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr><td colspan="3" height=5px/></tr>

<tr>	
  <td width="15%"/>
	<td width="70%" bgcolor="#ffffff" style="padding:10px;">
		<center><a href="http://{{ domain }}{% url 'quick choice' uid=uid choice=5 token=token %}" style="display:block; width:100%; height:100%; text-decoration:none">
				<span style="text-decoration:none; color:#2D69BF">not in</span>
		</a></center>
	</td>
	<td width="15%"/>
</tr>		

<tr>	
  <td width="15%"/>
  <td width="70%" style="text-align: center;">
		<p>Remember that you must have an internet connection to make a choice.</p>
	</td>
	<td width="15%"/>	
</tr>	

<tr>
  <td colspan="3" height=20px/>
</tr>	

    <tr>
      <td colspan="3"  bgcolor="#33394C" width="100%" style="font-size: 9px; padding:20px 50px; color:#62708B; line-height:15pt">
				<p>Questions? feel free to reply to this email</p>
				<p>You are receiving this email because you are registered with house-bot. Edit your email preferences by logging in to your account at <a href="http://www.house-bot.com" style="color:#62708B;">www.house-bot.com</a> and changing you messaging settings.<p>
			</td>
    </tr>

  </table>
</html>

