/* fix footer to bottom */
html {
		height: 100%;
}
body {
		height: 100%;
}
#non-footer {
		min-height: 100%;
}
.before-footer {
		padding-bottom: 5.0em;
}
#footer {
		margin-top: -4.0em;
		height: 4.0em;
}