/* Set font to Roboto light */
@font-face { font-family: 'Roboto', sans-serif; }
@font-face { font-family: 'Indie Flower', cursive; }
html {
		font-family: Roboto; 
		font-weight: 300; 
    font-size: 90%;
}
a { 
		text-decoration: none;
		color: inherit; 
} 
h1 {
		font-size: 1.5em;
		font-weight: 300;
} 
h2 {
		font-size: 1.2em;
		font-weight: 300;
		margin: 0.5em;
}
.txt-small {
		font-size: 0.9em;
}
.hr {
		display: inline-block;
    border: 0;
    /* height: 1px; */
		width: 96%;
		margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		/* background-color: white; */
}

/* general positioning classes */
.left {
		float: left;
}
.right {
		float: right;
}
.fill {
		width: 100%;
}
.near-fill {
		width: 98%;
		margin: 0 auto;
}
.smaller {
		width: 70%;
		margin: 0 auto;
}
.screen-height {
		height: 100vh;
}
.space-3 {
		min-height: 3em;
}
.center {
		vertical-align:middle; 
		text-align:center
}
.txt-right {
		text-align:right;
}
.txt-left {
		text-align:left;
}

/* div styling */
/* shadows */
.shadow-green {
		box-shadow: 0px 0px 30px #036613;
}
.shadow-blue {
		box-shadow: 0px 0px 30px #2a6693;
}
.d-shadow-orange {
		box-shadow: 2px 2px 2px #c0832b;
}
.d-shadow-blue {
		box-shadow: 2px 2px 2px #2a6693;
}
.d-shadow-blue-2 {
		box-shadow: 0px 2px 4px #2a6693;
}

/* color */
/* set background to green */
/* top blue gradient */
.b-grad-blue {
		background: #2D69BF; 
		background: -moz-linear-gradient(top, #3988cf 0%, #2d69bf 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3988cf), color-stop(100%,#2d69bf)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3988cf 0%,#2d69bf 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3988cf 0%,#2d69bf 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3988cf 0%,#2d69bf 100%); /* IE10+ */
		background: linear-gradient(to bottom, #3988cf 0%,#2d69bf 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3988cf', endColorstr='#2d69bf',GradientType=0 ); /* IE6-9 */
}
.b-grad-orange {
		background: #e8b877; /* Old browsers */
		background: -moz-linear-gradient(left,  #e8b877 0%, #f2a536 3%, #f2a536 97%, #e8b877 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8b877), color-stop(3%,#f2a536), color-stop(97%,#f2a536), color-stop(100%,#e8b877)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #e8b877 0%,#f2a536 3%,#f2a536 97%,#e8b877 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #e8b877 0%,#f2a536 3%,#f2a536 97%,#e8b877 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #e8b877 0%,#f2a536 3%,#f2a536 97%,#e8b877 100%); /* IE10+ */
		background: linear-gradient(to right,  #e8b877 0%,#f2a536 3%,#f2a536 97%,#e8b877 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8b877', endColorstr='#e8b877',GradientType=1 ); /* IE6-9 */
}
/* top blue gradient */
.b-grad-l-blue {
		background: #64c3ee; /* Old browsers */
		background: -moz-linear-gradient(top,  #64c3ee 0%, #4fb6ea 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c3ee), color-stop(100%,#4fb6ea)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #64c3ee 0%,#4fb6ea 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #64c3ee 0%,#4fb6ea 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #64c3ee 0%,#4fb6ea 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #64c3ee 0%,#4fb6ea 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c3ee', endColorstr='#4fb6ea',GradientType=0 ); /* IE6-9 */
}
.b-darkgrey {
		background: #33394C;
}
.purple {
		background: #a25369;
}
.green {
		background: #55b577;
}
.turquiose {
		background: #3da59c;
}
.l-blue {
		background: #59afd1;
}
.orange {
		background: #e8b877;
}
.white {
		background: white;
}

/* text styling */
.txt-white{
		color: #ffffff;
}
.txt-grey{
		color: #62708B;
}
.txt-darkgrey{
		color: #33394c;
}


/* messages */
.messages {
		cursor: pointer;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-weight: 400;
}
.messages ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		cursor: pointer;
		padding: 0;
		padding-left: 1em;
		margin:0;
}
.messages li {
		display:inline-block;
		width: 100%;
		margin:0;
}

/* button menu */
.button_menu {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		margin-top: 1em;
		margin-bottom: 1em;
}
.button_menu li {
    display:inline-block;
		margin-top: 10em;
		margin: 0.3em;
		padding: 0.4em 1.2em;
		font-size: 1.0em;
		background: white;
		color: #2D69BF; 
		border-radius:0.3em;
		width: 5em;
		font-weight: 400;
}
.button_menu .green {
		background: #55b577;
		color: white; 
}
.button_menu .home {
		background: None;
		border: solid;
		border-width: 1.0px;		
		color: white; 
}