body {
		background: #55b577; /* Old browsers */
		background: -moz-linear-gradient(left, #55b577 0%, #6ecc89 50%, #55b577 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#55b577), color-stop(50%,#6ecc89), color-stop(100%,#55b577)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #55b577 0%,#6ecc89 50%,#55b577 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #55b577 0%,#6ecc89 50%,#55b577 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #55b577 0%,#6ecc89 50%,#55b577 100%); /* IE10+ */
		background: linear-gradient(to right, #55b577 0%,#6ecc89 50%,#55b577 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55b577', endColorstr='#55b577',GradientType=1 ); /* IE6-9 */
}
/* specific */

/* first page */
/* top-photo */
.top-photo {
		margin-top: 4em;
		padding: 0.5em 0.5em 3em 0.5em;
		background: white;
		transform: rotate(-8deg);
		-ms-transform: rotate(-8deg); /* IE 9 */
		-webkit-transform: rotate(-8deg); /* Safari and Chrome */
}
.photo {
		width: 100%;
}
/* title */
.welcome-title {
		width: 100%;
		margin-bottom: 1em;
}
#welcome span {
		margin-bottom: 3em;
}
.why {
		margin-top: 3em;
}
/* more */
.welcome-more {
		padding-bottom: 0.5em;
		width: 100%;
		min-width: 5em;
}


/* fridge */
.fridge {
		border-radius:12%/6%;
		/* height: 50em; */
}
.fridge-highlight {
		padding-top: 2.5%;
		margin-bottom: 2em;
}


/* how it works */
.how-title {
}
.how-content {
		padding: 3em 0;
}
.how-1 {
		transform: rotate(-0.39deg);
		-ms-transform: rotate(-0.39deg); /* IE 9 */
		-webkit-transform: rotate(-0.39deg); /* Safari and Chrome */
}
.how-2 {
		transform: rotate(0.1deg);
		-ms-transform: rotate(0.1deg); /* IE 9 */
		-webkit-transform: rotate(0.1deg); /* Safari and Chrome */
}
.how-3 {
		transform: rotate(0.81deg);
		-ms-transform: rotate(0.81deg); /* IE 9 */
		-webkit-transform: rotate(0.81deg); /* Safari and Chrome */
}
.how-4 {
		transform: rotate(-0.03deg);
		-ms-transform: rotate(-0.03deg); /* IE 9 */
		-webkit-transform: rotate(-0.03deg); /* Safari and Chrome */
}
.how-content p {
		padding: 1em;
		height: 3em;
		/* margin: 0; */
}

/* social */
.social {
		padding: 3em 0;
}
/* photo set 1 */
.instagram {
		width:45%;
}
.photo-set {
		margin: 3em 0;
}
.photo-frame {
		padding: 0.5em 0.5em 3em 0.5em;
		background: white;
		width: 44%;
}
.pf-0 {
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Safari and Chrome */
		float: left;
}
.pf-1 {
		transform: rotate(2deg);
		-ms-transform: rotate(2deg); /* IE 9 */
		-webkit-transform: rotate(2deg); /* Safari and Chrome */
		float: right;
}
/* single comment stream */
.twitter {
}
.twitter-logo {
		margin-bottom: -5em;
		width: 100%;
}
.twitter-logo-small {
		margin-bottom: -5em;
		width: 60%;
}
.comments {
		margin: 3em 1.5em 0em 0em;
		padding: 3em 1em 1em 1em;		
		background: #ffffff;
		font-family: 'Indie Flower';
		font-size: 0.9em;
}
.timeline-header {
		display: none !important;
}
.twitter-widget-0 {
		width: 100%;
}
/* facebook */
.facebook {
		margin-top: 1em;
		width: 80%;
}
.facebook-small {
		margin-top: 1em;
		width: 50%;
}


/* sign up */
.sign-up {
		padding-top: 6em;
		padding-bottom: 6em;
		width: 15%;/* 58em; */
}


/* footer */
.footer {
		padding: 2em;
}
.contact img {
		margin: 0.5em;
}
.contact p {
		margin: 0 0.3em 0 0;
}
.copyright {
		padding-top: 3em;
		text-align:right;
}
.footer a {
		text-decoration: none;
		color: #62708B;		
}