/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_15 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.container_16 {
	width: 92%;
	max-width: 1500px;
	min-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
	min-width: 700px;
	margin: 0;
}
.thin-min {
	min-width: 400px;
}
.thin {
	max-width: 960px;
	min-width: 400px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.c15_grid_1,
.c15_grid_2,
.c15_grid_3,
.c15_grid_4,
.c15_grid_5,
.c15_grid_6,
.c15_grid_7,
.c15_grid_8,
.c15_grid_9,
.c15_grid_10,
.c15_grid_11,
.c15_grid_12,
.c15_grid_13,
.c15_grid_14,
.c15_grid_15 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}



/* Grid >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .c15_grid_1 {
	width:4.667%;
}

.container_15 .c15_grid_2 {
	width:11.333%;
}

.container_15 .c15_grid_3 {
	width:18.0%;
}

.container_15 .c15_grid_4 {
	width:24.667%;
}

.container_15 .c15_grid_5 {
	width:31.333%;
}

.container_15 .c15_grid_6 {
	width:38.0%;
}

.container_15 .c15_grid_7 {
	width:44.667%;
}

.container_15 .c15_grid_8 {
	width:51.333%;
}

.container_15 .c15_grid_9 {
	width:58.0%;
}

.container_15 .c15_grid_10 {
	width:64.667%;
}

.container_15 .c15_grid_11 {
	width:71.333%;
}

.container_15 .c15_grid_12 {
	width:78.0%;
}

.container_15 .c15_grid_13 {
	width:84.667%;
}

.container_15 .c15_grid_14 {
	width:91.333%;
}

.container_15 .c15_grid_15 {
	width:98.0%;
}



/* Prefix Extra Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .c15_prefix_1 {
	padding-left:6.667%;
}

.container_15 .c15_prefix_2 {
	padding-left:13.333%;
}

.container_15 .c15_prefix_3 {
	padding-left:20.0%;
}

.container_15 .c15_prefix_4 {
	padding-left:26.667%;
}

.container_15 .c15_prefix_5 {
	padding-left:33.333%;
}

.container_15 .c15_prefix_6 {
	padding-left:40.0%;
}

.container_15 .c15_prefix_7 {
	padding-left:46.667%;
}

.container_15 .c15_prefix_8 {
	padding-left:53.333%;
}

.container_15 .c15_prefix_9 {
	padding-left:60.0%;
}

.container_15 .c15_prefix_10 {
	padding-left:66.667%;
}

.container_15 .c15_prefix_11 {
	padding-left:73.333%;
}

.container_15 .c15_prefix_12 {
	padding-left:80.0%;
}

.container_15 .c15_prefix_13 {
	padding-left:86.667%;
}

.container_15 .c15_prefix_14 {
	padding-left:93.333%;
}



/* Suffix Extra Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .c15_suffix_1 {
	padding-right:6.667%;
}

.container_15 .c15_suffix_2 {
	padding-right:13.333%;
}

.container_15 .c15_suffix_3 {
	padding-right:20.0%;
}

.container_15 .c15_suffix_4 {
	padding-right:26.667%;
}

.container_15 .c15_suffix_5 {
	padding-right:33.333%;
}

.container_15 .c15_suffix_6 {
	padding-right:40.0%;
}

.container_15 .c15_suffix_7 {
	padding-right:46.667%;
}

.container_15 .c15_suffix_8 {
	padding-right:53.333%;
}

.container_15 .c15_suffix_9 {
	padding-right:60.0%;
}

.container_15 .c15_suffix_10 {
	padding-right:66.667%;
}

.container_15 .c15_suffix_11 {
	padding-right:73.333%;
}

.container_15 .c15_suffix_12 {
	padding-right:80.0%;
}

.container_15 .c15_suffix_13 {
	padding-right:86.667%;
}

.container_15 .c15_suffix_14 {
	padding-right:93.333%;
}



/* Push Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .c15_push_1 {
	left:6.667%;
}

.container_15 .c15_push_2 {
	left:13.333%;
}

.container_15 .c15_push_3 {
	left:20.0%;
}

.container_15 .c15_push_4 {
	left:26.667%;
}

.container_15 .c15_push_5 {
	left:33.333%;
}

.container_15 .c15_push_6 {
	left:40.0%;
}

.container_15 .c15_push_7 {
	left:46.667%;
}

.container_15 .c15_push_8 {
	left:53.333%;
}

.container_15 .c15_push_9 {
	left:60.0%;
}

.container_15 .c15_push_10 {
	left:66.667%;
}

.container_15 .c15_push_11 {
	left:73.333%;
}

.container_15 .c15_push_12 {
	left:80.0%;
}

.container_15 .c15_push_13 {
	left:86.667%;
}

.container_15 .c15_push_14 {
	left:93.333%;
}



/* Pull Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .c15_pull_1 {
	left:-6.667%;
}

.container_15 .c15_pull_2 {
	left:-13.333%;
}

.container_15 .c15_pull_3 {
	left:-20.0%;
}

.container_15 .c15_pull_4 {
	left:-26.667%;
}

.container_15 .c15_pull_5 {
	left:-33.333%;
}

.container_15 .c15_pull_6 {
	left:-40.0%;
}

.container_15 .c15_pull_7 {
	left:-46.667%;
}

.container_15 .c15_pull_8 {
	left:-53.333%;
}

.container_15 .c15_pull_9 {
	left:-60.0%;
}

.container_15 .c15_pull_10 {
	left:-66.667%;
}

.container_15 .c15_pull_11 {
	left:-73.333%;
}

.container_15 .c15_pull_12 {
	left:-80.0%;
}

.container_15 .c15_pull_13 {
	left:-86.667%;
}

.container_15 .c15_pull_14 {
	left:-93.333%;
}


/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .grid_1 {
	width:4.25%;
}

.container_16 .grid_2 {
	width:10.5%;
}

.container_16 .grid_3 {
	width:16.75%;
}

.container_16 .grid_4 {
	width:23.0%;
}

.container_16 .grid_5 {
	width:29.25%;
}

.container_16 .grid_6 {
	width:35.5%;
}

.container_16 .grid_7 {
	width:41.75%;
}

.container_16 .grid_8 {
	width:48.0%;
}

.container_16 .grid_9 {
	width:54.25%;
}

.container_16 .grid_10 {
	width:60.5%;
}

.container_16 .grid_11 {
	width:66.75%;
}

.container_16 .grid_12 {
	width:73.0%;
}

.container_16 .grid_13 {
	width:79.25%;
}

.container_16 .grid_14 {
	width:85.5%;
}

.container_16 .grid_15 {
	width:91.75%;
}

.container_16 .grid_16 {
	width:98.0%;
}



/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .prefix_1 {
	padding-left:6.25%;
}

.container_16 .prefix_2 {
	padding-left:12.5%;
}

.container_16 .prefix_3 {
	padding-left:18.75%;
}

.container_16 .prefix_4 {
	padding-left:25.0%;
}

.container_16 .prefix_5 {
	padding-left:31.25%;
}

.container_16 .prefix_6 {
	padding-left:37.5%;
}

.container_16 .prefix_7 {
	padding-left:43.75%;
}

.container_16 .prefix_8 {
	padding-left:50.0%;
}

.container_16 .prefix_9 {
	padding-left:56.25%;
}

.container_16 .prefix_10 {
	padding-left:62.5%;
}

.container_16 .prefix_11 {
	padding-left:68.75%;
}

.container_16 .prefix_12 {
	padding-left:75.0%;
}

.container_16 .prefix_13 {
	padding-left:81.25%;
}

.container_16 .prefix_14 {
	padding-left:87.5%;
}

.container_16 .prefix_15 {
	padding-left:93.75%;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .suffix_1 {
	padding-right:6.25%;
}

.container_16 .suffix_2 {
	padding-right:12.5%;
}

.container_16 .suffix_3 {
	padding-right:18.75%;
}

.container_16 .suffix_4 {
	padding-right:25.0%;
}

.container_16 .suffix_5 {
	padding-right:31.25%;
}

.container_16 .suffix_6 {
	padding-right:37.5%;
}

.container_16 .suffix_7 {
	padding-right:43.75%;
}

.container_16 .suffix_8 {
	padding-right:50.0%;
}

.container_16 .suffix_9 {
	padding-right:56.25%;
}

.container_16 .suffix_10 {
	padding-right:62.5%;
}

.container_16 .suffix_11 {
	padding-right:68.75%;
}

.container_16 .suffix_12 {
	padding-right:75.0%;
}

.container_16 .suffix_13 {
	padding-right:81.25%;
}

.container_16 .suffix_14 {
	padding-right:87.5%;
}

.container_16 .suffix_15 {
	padding-right:93.75%;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .push_1 {
	left:6.25%;
}

.container_16 .push_2 {
	left:12.5%;
}

.container_16 .push_3 {
	left:18.75%;
}

.container_16 .push_4 {
	left:25.0%;
}

.container_16 .push_5 {
	left:31.25%;
}

.container_16 .push_6 {
	left:37.5%;
}

.container_16 .push_7 {
	left:43.75%;
}

.container_16 .push_8 {
	left:50.0%;
}

.container_16 .push_9 {
	left:56.25%;
}

.container_16 .push_10 {
	left:62.5%;
}

.container_16 .push_11 {
	left:68.75%;
}

.container_16 .push_12 {
	left:75.0%;
}

.container_16 .push_13 {
	left:81.25%;
}

.container_16 .push_14 {
	left:87.5%;
}

.container_16 .push_15 {
	left:93.75%;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .pull_1 {
	left:-6.25%;
}

.container_16 .pull_2 {
	left:-12.5%;
}

.container_16 .pull_3 {
	left:-18.75%;
}

.container_16 .pull_4 {
	left:-25.0%;
}

.container_16 .pull_5 {
	left:-31.25%;
}

.container_16 .pull_6 {
	left:-37.5%;
}

.container_16 .pull_7 {
	left:-43.75%;
}

.container_16 .pull_8 {
	left:-50.0%;
}

.container_16 .pull_9 {
	left:-56.25%;
}

.container_16 .pull_10 {
	left:-62.5%;
}

.container_16 .pull_11 {
	left:-68.75%;
}

.container_16 .pull_12 {
	left:-75.0%;
}

.container_16 .pull_13 {
	left:-81.25%;
}

.container_16 .pull_14 {
	left:-87.5%;
}

.container_16 .pull_15 {
	left:-93.75%;
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}