/* header */
/* logo */
.logo {
		height: 4em;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		padding-left: 0.5em;
}
/* menu */
.toolbar ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		padding-top: 1.5em;
		padding-bottom: 1,5em;
		margin: 0em;
}
.toolbar li {
    display:inline-block;
		margin: 0em;
		height: 4em;
}
.toolbar img {
		width: 100%;
}
.toolbar .button {
		display: inline-block;
		padding: 0.7em 0.1em;
		margin: 0.7em 0;
		color: white;
		border-radius: 0.3em;
		/* border: solid; */
		/* border-width: 0.5px; */
		width: 3.7em;
		height: 1.3em;
		font-weight: 300;
		font-size: 0.9em;
}


/* footer */
/* fix footer to bottom */
html {
		height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
		color: white;
}
#non-footer {
		min-height: 100%;
}
.before-footer {
		padding-bottom: 9.0em;
}
#footer {
		margin-top: -7.0em;
		height: 7.0em;
}
.footer a {
		padding-top: 1em;
		color: #62708B;		
}
/* footer contact styling */
.contact img {
		height: 3em;
		padding: 0 0.5em 0 0;
	  vertical-align: middle
}
.contact p {
		line-height: 3em;
}


/* choices */
.choices {
		width: 20em;
		margin: 0 auto;
}
.question {
		height: 6em;
		margin-bottom: 1em;
		margin-top: 2em;
}
.choices .unselected, .choices .selected {
		margin: 0.3em 0;
		padding: 0.4em 1.2em;
		background: white;
		border: none;
		color: #2D69BF;
		border-radius:0.3em;
		width: 100%;
		font-weight: 400;
}
.choices .unselected {
		background: white;
		color: #2D69BF;
}
.choices .selected {
		background: #55b577;
		color: white;
}


/* forms */
/* general */
.form {
		max-width: 700px;
		margin: 0em auto;
}
.form-fieldwrapper, .form-captchawrapper {
		width: 96%;
		margin: 2%;
}
.form-submitwrapper {
		width: 98%;
		margin: 2% 1%;
}
.form-fieldwrapper ul {
		padding: 0;
}
.form label, .form input, .form img, .thin-form label, .thin-form input, .thin-form img {
	  display:inline;
		float: left;
		position: relative;
}
.form input, .form select, .form textarea, .thin-form input, .thin-form select, .thin-form textarea {
		background: white;
		border: none;
		color: #2D69BF;
		border-radius:0.3em;
		font-weight: 400;
}
.form input[type='submit'], .thin-form input[type='submit'] {
	  margin-bottom: 0.3em;
		background: #55b577;
		color: white;
}
/* regular */
.form label {
		margin-right: 1%;
		width: 29%; 
		text-align: right;
}
.form input, .form select, .form textarea {
		margin-left: 1%; 
		width: 68%;
		max-width: 68%;
}
.form input {
		padding: 0.5%;
}
.form input[type="submit"] {
		margin-left: 31.25%;
		width: 67.75%; 
		/* margin: 0 auto;  */
}
.form input[type=checkbox] {
		margin-top: 0.3em;
	  float: left;
		width: 2em;
}
.form select {
		padding: 0.3% 0;
}
.form .errorlist {
		width: 69%;
		margin-left: 31%;
		padding: 0.2em;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		background: #e8b877;
		margin-bottom: 0.3em;
		border-radius:0.3em;
		color: black;
}
.form .errorlist li {
		display:inline-block;		
}
.form .help {
		font-size: 0.9em;
		/* color: #aaaaaa; */
}
/* members list */
.form .members ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 69%;
		margin-left: 31%;
		list-style: none;
		text-align: left;
}
/* password button */
.form .password ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 69%;
		margin-left: 31%;
}
.form .password li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		background: white;
		color: #2D69BF; 
		border-radius:0.3em;
		font-weight: 400;
		width: 100%;
}
/* password_reset button */
.form .password_reset input[type=checkbox] {
		margin-top: 0.5%;
	  float: left;
		width: 2em;
}
.form .password_reset ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 50%;
		margin: 0 auto;
		float: right;
}
.form .password_reset li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		background: white;
		color: #2D69BF; 
		border-radius:0.3em;
		font-weight: 400;
		width: 100%;
}
/* thin */
.thin-form label {
		width: 100%; 
		text-align: left;
}
.thin-form input, .thin-form select, .thin-form textarea {
		width: 99%;
		max-width: 99%;
}
.form .short textarea, .thin-form .short textarea {
		height: 6em;
}
.thin-form input {
		padding: 0.5%;
}
.thin-form input[type="submit"] {
		margin-left: 1%;
		width: 98%; 
}
.thin-form .check_label {
	  float: left;
		width: 30%;
}
.thin-form input[type=checkbox] {
		margin-top: 0.3em;
	  float: left;
		width: 10%;
}
.thin-form select {
		padding: 0.3% 0;
}
.thin-form .errorlist {
		width: 100%;
		padding: 0.2em;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		background: #e8b877;
		margin-bottom: 0.3em;
		border-radius:0.3em;
		color: black;
}
.thin-form .errorlist li {
		display:inline-block;		
}
.thin-form .help {
		font-size: 0.9em;
		/* color: #aaaaaa; */
}
/* members list */
.thin-form .members ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 100%;
		list-style: none;
		text-align: left;
}
/* password button */
.thin-form .password ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 100%;
}
.thin-form .password li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		background: white;
		color: #2D69BF; 
		border-radius:0.3em;
		font-weight: 400;
		width: 100%;
}
/* password_reset button */
.thin-form .password_reset input[type="checkbox"] {
		float:left;
}
.thin-form .password_reset ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 55%;
		margin: 0 auto;
		float: right;
}
.thin-form .password_reset li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		background: white;
		color: #2D69BF; 
		border-radius:0.3em;
		font-weight: 400;
		width: 100%;
}
/* captcha */
.form-captchawrapper img {
		margin-left: 1%; 
		margin-right: 1%;
}
.form-captchawrapper input {
		margin-top: 0.2em;
		width: 20%;
}
.form-captchawrapper label {
		margin-top: 0.2em;
}
/* history edit */
.edit-history {
		max-width: 400px;
		margin: 1em auto;
}
.edit-history label {
		margin-right: 1%;
		width: 39%; 
		text-align: right;
}
.edit-history select {
		margin-left: 1%; 
		width: 58%;
		max-width: 58%;
}
.edit-history .cancel ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 49%;
		float: left;
		padding: 0;
		margin: 0;
}
.edit-history .cancel li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		background: white;
		color: #2D69BF; 
		border-radius:0.3em;
		font-weight: 400;
		width: 100%;
} 
.edit-history input[type="submit"] {
		width: 49%; 
		float: right;
		padding: 0.2em 0em;
		margin-left: 0;
		margin-bottom: 0;
}


.people-list {
		width: 20em;
		margin: 1em auto;
}
.people-list ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 100%;
		float: left;
		margin-bottom: 1em;
		padding: 0;
}
.people-list li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		width: 100%;
} 
.people-list .home li {
		background: #55b577;
		color: white; 
		border-radius:0.3em;
		font-weight: 400;
} 
.edit-history {
		margin-top: 1.5em;
}
.people-list img {
		height: 2em;
		padding: 0 0.5em 0 0;
	  vertical-align: middle
}
.people-list p {
		line-height: 2em;
}


.edit_karma_bar ul {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-start: 0px;
		width: 100%;
		float: left;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0;
}
.edit_karma_bar li {
    display:inline-block;
		padding: 0.2em 0em;
		font-size: 1.0em;
		width: 49%;
		margin: 0;
}
/* history editing icon */
.edit_karma {
		margin-top: 1.5em;
}
.edit_karma_bar img {
		height: 2em;
		padding: 0 0.5em 0 0;
	  vertical-align: middle
}
.edit_karma_bar p {
		line-height: 2em;
}