{% extends "base.html" %}

{% block title %}house-bot | contact us{% endblock %}

{% block content %}
<div id="form" class="form txt-white">
	<form method="post" action="{% url 'contact_form' %}" id="contact_form">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.name.errors }}
			<label class="" for="name">{{ form.name.label }}</label>
			{{ form.name }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.email.errors }}
			<label class="" for="email">{{ form.email.label }}</label>
			{{ form.email }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.body.errors }}
			<label class="" for="body">{{ form.body.label }}</label>
			{{ form.body }}
		</div>	
    <div class="form-captchawrapper clearfix">
      {{ form.captcha.errors }}
      <label class="" for="captcha">So we know you are a real person</label>
      {{ form.captcha }}
    </div>				
		<input type="submit" class="button" value="Submit" />
	</form>
</div>
{% endblock content %}
