{% extends "base.html" %}
{% load staticfiles %}

{% block title %}house-bot{% endblock %}

{% block content %}
<h1>404 Error</h1>
<p>Whoops! something has gone wrong. If you think this is a bug please report it <strong><a href="{% url 'contact_form' %}">here</a></strong> with as much detail as possible and we will fix it asap.</p>
<p>the <strong>house-bot</strong> team</p>
{% endblock content %}
