{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=425, initial-scale=0.8">
 		<link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />		
	  <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.1.min.js'/></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-45019164-1', 'house-bot.com');
			ga('send', 'pageview');
		</script>
    <title>{% block title %}{% endblock %}</title>
	</head>
	
	<body>
		<div id="non-footer" class="b-grad-blue">
			<div id="header" class="full-width thin-min shadow-blue">
				<div class="container_16 thin clearfix">
					<div class="left">
						<a href="/"><img class="logo" src="{% static 'svg/header-title.svg' %}" alt="house-bot"/></a>
					</div>
					<div class="toolbar right">
						{% if user.is_authenticated %}
						<ul class="right">
							{% if not no_settings and user.is_active %}
							<a href="{% url 'settings account' %}"><li>
									<img src="{% static 'svg/settings.svg' %}" alt="settings" title="settings"/>
							</li></a>
							{% endif %}
							<a href="{% url 'logout' %}"><li>
									<img src="{% static 'svg/logout.svg' %}" alt="logout" title="logout"/>
							</li></a>
						</ul>
						{% else %}
						<ul class="right center">
							<a href="{% url 'login' %}"><li class="button">Log in</li></a>
							<a href="{% url 'sign up' %}"><li class="button">Sign up</li></a>
						</ul>
						{% endif %}
					</div>
				</div>
			</div> <!-- header -->
			
			{% if messages %}
			<div id="messages" class="container_16 thin clearfix messages green d-shadow-blue-2 center txt-white">
				<ul>
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			
			<div id="main" class="container_16 thin before-footer center">
				{% block content %}{% endblock %}
			</div>
		</div> <!-- #non-footer -->
			
    <div id="footer" class="b-darkgrey txt-grey footer">
			<div class="container_16 thin center clearfix">
				<a class="contact clearfix" href="{% url 'contact_form' %}">
					<p>
						<img src="{% static 'img/contact.png' %}" />
						CONTACT US - we would love to hear your feedback
					</p>
				</a>
				<!-- <p>&copy; house-bot 2013&nbsp;&nbsp;</p> -->
			</div>
	  </div> <!-- #footer -->

		<script type="text/javascript" language="Javascript">
      
		  function set_form() {
					if ($(window).width() > 610) {
							$("#form").removeClass('thin-form').addClass('form')
					}
					else {
							$("#form").removeClass('form').addClass('thin-form')
					}
			}

      window.addEventListener('DOMContentLoaded', function(e) {
					set_form();
      }, false)

      window.onload = function() {
					set_form();
      };

      window.onresize = function() {
					set_form();
      };

			$("#messages").click(function() {
					// alert( "Handler for .click() called." );
					$("#messages").slideUp( 200, function() {
					})
			})										
		</script>
  </body>

</html>
