{% load staticfiles %}
<div class="choices">
	<h2>Result coming soon!</h2>
	<form>
		{% for choice in member.cook_group.choice_set.choice_set.all %}
		{% if choice.index == member.choice %}
		<input type="submit" class="selected" value="{{ choice.choice_text }}" />
		{% endif %} 
		{% endfor %}
	</form>

	<p>House bot is working on it. The decision will be made at {{member.cook_group.t_decision}}:00</p>

	<form action="{{ url }}" method="post">
		{% csrf_token %}
		<input type="hidden" name="reset" value="" />
		<input type="submit" class="unselected" value="change my choice" />
	</form>
</div>

