{% load staticfiles %}
<div class="choices">
	<img class="question" src="{% static 'svg/can_you_cook.svg' %}" alt="can you cook?"/>
	{% for choice in member.cook_group.choice_set.choice_set.all %}
	<form action="{{ url }}" method="post">
		{% csrf_token %}
		<input type="hidden" name="index" value={{ choice.index }} />
		{% if choice.index == member.choice %}
		<input type="submit" class="selected" value="{{ choice.choice_text }}" />
		{% else %}
		<input type="submit" class="unselected" value="{{ choice.choice_text }}" />
		{% endif %} 
	</form>
{% endfor %}
</div>
