{% load staticfiles %}
<div class="choices people-list">
	{% if member.cook_group.active %}
	<h1>Decision made</h2>
  <div class="hr">
	</div>
	<ul>
		{% for m in sorted_members %}
		<li>{{m.user.first_name}}: {% if m.last_choice == 2 %}
			<img src="{% static 'svg/cooker.svg' %}" alt="cooker" title="cooker"/>
			{% elif m.last_choice == 1 %}
		<img src="{% static 'svg/eater.svg' %}" alt="eater" title="eater"/>
		{% else %}
		<img src="{% static 'svg/none.svg' %}" alt="not in" title="not in"/>
		{% endif %}
		</li>
		{% endfor %}
	</ul>
  <p>You will be able to make your choice for tomorrow from 1am.</p>
	{% else %}
	<h1>See you tomorrow</h2>
  <div class="hr"></div>
  <p>Your group will become active tomorrow morning and you will then be able to make choices for the evening's communal cooking. We will also send you an email with the available choices.</p>
  <p>We look forward to seeing you then.</p>
{% endif %}
  <div class="hr"></div>
</div>
