{% extends "base.html" %}

{% block title %}house-bot | edit history{% endblock %}

{% block content %}
<h1>Edit history</h2>
<p>Change the result of the last decision that was made.</p>
<div id="edit-history" class="form edit-history">
  <form method="post" action="{% url 'edit history' %}" id="account_settings_form">
    {% csrf_token %}
    <div class="hr"></div>
		{% for field in form %}
    <div class="form-fieldwrapper clearfix">
      {{ field.errors }}
      <label class="" for="{{ field.id }}">{{ field.label }} </label>
			{{ field }}
    </div>
    {% endfor %}
    <div class="hr"></div>
		<div class="form-submitwrapper cancel clearfix">
			<ul>
				<a href="{% url 'home' %}">
					<li>
						Cancel
					</li>
				</a>
			</ul>	
			<input type="submit" class="button" value="Update" />
		</div>
  </form>
</div>
{% endblock content %}
