{% extends "base.html" %}

{% block title %}house-bot | create your group{% endblock %}

{% block content %}
<p>Hello {{ display_name }}. We are very excited to have you on board. It is now time to form your cooking group.</p>

<div id="form" class="form txt-white">
	<form method="post" action="{% url 'create group' %}" name="group_name_form" id="group_name_form">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.display_name.errors }}
			<label class="" for="display_name">{{ form.display_name.label }}</label>
			{{ form.display_name }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.tz.errors }}
			<label class="" for="tz">{{ form.tz.label }}</label>
			{{ form.tz }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.email_addresses.errors }}
			<label class="" for="email_addresses">
				{{ form.email_addresses.label }}</br>
				<span class="help">{{ form.email_addresses.help_text }}</span>
			</label>
			{{ form.email_addresses }}
		</div>
		<div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Create your group" />
		</div>
	</form>
</div>

{% endblock content %}
