{% extends "base.html" %}
{% load staticfiles %}

{% block title %}house-bot{% endblock %}

{% block content %}
{{ home_content }}
<div class="choices clearfix edit_karma_bar">
	<ul>
		{% if member.cook_group.active %}
		<a class="txt-white" href="{% url 'edit history' %}">
			<li class="">
				<img src="{% static 'svg/edit_arrow.svg' %}" />
				{{edit_text}}
			</li>
		</a>
		<a class="txt-white" href="{% url 'karma' %}">
			<li class="">
				<img src="{% static 'svg/edit_arrow.svg' %}" />
				view karma
			</li>
		</a>
		{% endif %}
	</a>
	<span class="txt-small">
		<p>Logged in as <strong>{{ member.user.first_name }}</strong> in <strong>{{ member.cook_group.display_name }}</strong></p>
	</span>
</div>
{% endblock content %}

