{% extends "base.html" %}

{% block title %}house-bot | log in{% endblock %}

{% block content %}
<div id="form" class="form">
  <form method="post" action="{% url 'login' %}" id="login_form">
    {% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.email.errors }}
			<label class="" for="email">{{ form.email.label }}</label>
			{{ form.email }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.password.errors }}
			<label class="" for="password">{{ form.password.label }}</label>
			{{ form.password }}
		</div>
		<div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Log in" />
		</div>
		<div class="hr"></div>
		<div class="form-fieldwrapper password_reset clearfix">
			{{ form.remeber.errors }}
			<label class="check_label" for="remember">{{ form.remember.label }}</label>
			{{ form.remember }}
			<ul>
				<li>
					<a href="{% url 'password_reset' %}">
						I have forgotten my password
					</a>
				</li>
			</ul>
		</div>
  </form>
</div>
{% endblock content %}
