{% load staticfiles %}
<!DOCTYPE html>
<html manifest="manifest.appcache">
	<head>
		<meta name="viewport" content="width=425, initial-scale=0.8">
 		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'/> -->
		<!-- <link rel="stylesheet" href="{% static 'css/normalize.css' %}" /> -->
    <!-- <link rel="stylesheet" href="{% static 'css/grid.css' %}"/> -->
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"/> -->
		<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"/> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />	 -->
    <title>house-bot | offline</title>
	</head>
	
	<body>
		<div id="non-footer" class="b-grad-blue">
			<div id="header" class="full-width thin-min shadow-blue">
				<div class="container_16 thin clearfix">
					<div class="left">
						hello
						<!-- <a href="/"><img class="logo" src="{% static 'svg/header-title.svg' %}" alt="house-bot"/></a> -->
					</div>
				</div>
			</div> <!-- header -->
			
			<div id="main" class="container_16 thin center before-footer center">
				<p>
					You are currently offline. Please come back when you have an internet connection.
				</p>
			</div>
		</div> <!-- #non-footer -->
			
    <div id="footer" class="b-darkgrey txt-grey footer">
			<div class="container_16 thin center clearfix">
				<p>
					offline
				</p>
				<p>&copy; house-bot 2013&nbsp;&nbsp;</p>
			</div>
	  </div> <!-- #footer -->
  </body>

</html>
