{% extends "base.html" %}

{% block title %}house-bot | password update{% endblock %}

{% block content %}
<div id="form" class="form">
  <form method="post" action="{% url 'password update' %}" id="password_update_form">
    {% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-fieldwrapper clearfix">
			{{ form.old_password.errors }}
			<label class="" for="old_password">{{ form.old_password.label }}</label>
			{{ form.old_password }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.password1.errors }}
			<label class="" for="password1">{{ form.password1.label }}</label>
			{{ form.password1 }}
		</div>
		<div class="form-fieldwrapper clearfix">
			{{ form.password2.errors }}
			<label class="" for="password2">{{ form.password2.label }}</label>
			{{ form.password2 }}
		</div>
		<div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Submit" />
		</div>
  </form>
</div>
{% endblock content %}
