{% extends "base.html" %}
{% load staticfiles %}

{% block title %}house-bot | karma{% endblock %}

{% block content %}
<div class="people-list">
	<h1>Karma</h2>
  <div class="hr"></div>
	<ul>
		{% for m in member.cook_group.member_set.all %}
		<li>{{m.user.first_name}}: {{ m.points }}</li>
		{% endfor %}
	</ul>
	<div class="home clearfix">
		<ul>
			<a href="{% url 'home' %}">
				<li>
					Back to home page
				</li>
			</a>
		</ul>	
	</div>
</div>
{% endblock content %}
