{% extends "base.html" %}

{% block title %}house-bot | quick choice{% endblock %}

{% block content %}
{{ warning|default_if_none:"" }}
{{ home_content }}
<div class="choices">
	<span class="txt-small">
		<p>Making choices for <strong>{{ member.user.first_name }}</strong> in <strong>{{ member.cook_group.display_name }}</strong></p>
	</span>
</div>
{% endblock content %}

