{% extends "base.html" %}

{% block title %}house-bot | settings{% endblock %}

{% block content %}
<ul class="button_menu">
	<a href="{% url 'home' %}"><li class="home">
			Home
	</li></a>
	{% if account %}
	<a href="{% url 'settings account' %}"><li class="green">
			Account
	</li></a>
	<a href="{% url 'settings group' %}"><li>
			Group
	</li></a>
	{% else %}
	<a href="{% url 'settings account' %}"><li>
			Account
	</li></a>
	<a href="{% url 'settings group' %}"><li class="green">
			Group
	</li></a>
	{% endif %}
</ul>	
<div id="form" class="form">
  <form method="post" action="{{ url }}" id="account_settings_form">
    {% csrf_token %}
		<div class="hr"></div>
		{% block settings_form %}{% endblock settings_form %}
		<div class="form-submitwrapper clearfix">
			<input type="submit" class="button" value="Update" />
		</div>
  </form>
</div>
{% endblock content %}
