{% extends "settings.html" %}

{% block settings_form %}
{{ form.non_field_errors }}
<h2>User account</h2>
<div class="form-fieldwrapper clearfix">
	{{ form.display_name.errors }}
	<label class="" for="email">{{ form.display_name.label }}</label>
	{{ form.display_name }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.email.errors }}
	<label class="" for="email">{{ form.email.label }}</label>
	{{ form.email }}
</div>
<div class="form-fieldwrapper password">
	<label class="" for="password">Your password</label>
	<ul>
		<a href="{% url 'password update' %}">
			<li>
				Update your password
			</li>
		</a>
	</ul>	
</div>
<div class="form-fieldwrapper password">
	<label class="" for="close">Close account</label>
	<ul>
		<a href="{% url 'close account' %}">
			<li>
				Close your account
			</li>
		</a>
	</ul>	
</div>
<div class="hr"></div>
<h2>Messaging preferences</h2>
<div class="form-fieldwrapper clearfix">
	{{ form.b_always_notify.errors }}
	<label class="check_label" for="b_always_notify">{{ form.b_always_notify.label }}</label>
	{{ form.b_always_notify }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.t_morning.errors }}
	<label class="" for="t_morning">
		{{ form.t_morning.label }}</br>
		<span class="help">{{ form.t_morning.help_text }}</span>
	</label>
	{{ form.t_morning }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.b_morning.errors }}
	<label class="check_label" for="b_morning">{{ form.b_morning.label }}</label>
	{{ form.b_morning }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.b_reminder.errors }}
	<label class="check_label" for="b_reminder">{{ form.b_reminder.label }}</label>
	{{ form.b_reminder }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.b_settings.errors }}
	<label class="check_label" for="b_morning">{{ form.b_settings.label }}</label>
	{{ form.b_settings }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.b_history.errors }}
	<label class="check_label" for="b_reminder">{{ form.b_history.label }}</label>
	{{ form.b_history }}
</div>
<div class="hr"></div>
{% endblock settings_form %}
