{% extends "settings.html" %}

{% block settings_form %}
{{ form.non_field_errors }}
<h2>Group Settings</h2>
<div class="form-fieldwrapper clearfix">
	{{ form.display_name.errors }}
	<label class="" for="email">{{ form.display_name.label }}</label>
	{{ form.display_name }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.t_decision.errors }}
	<label class="" for="t_decision">
		{{ form.t_decision.label }}</br>
		<span class="help">{{ form.t_decision.help_text }}</span>
	</label>
	{{ form.t_decision }}
</div>
<div class="form-fieldwrapper clearfix">
	{{ form.tz.errors }}
	<label class="" for="tz">{{ form.tz.label }}</label>
	{{ form.tz }}
</div>
<div class="hr"></div>
<h2>Members</h2>
<div class="form-fieldwrapper clearfix members">
	<label class="" for="members">Current members</label>
	<ul>
		{% for member in members %}
		<li class=""><strong>{{ member.user.first_name }}</strong>: {{ member.user.email }}</li>
		{% endfor %}
	</ul>
</div>
<div class="form-fieldwrapper clearfix short">
	{{ form.email_addresses.errors }}
	<label class="" for="email_addresses">
		{{ form.email_addresses.label }}</br>
		<span class="help">{{ form.email_addresses.help_text }}</span>
	</label>
	{{ form.email_addresses }}
</div>
<div class="hr"></div>
{% endblock settings_form %}
