{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
		<meta name="viewport" content="width=750, initial-scale=1.0">
 		<link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/front-page.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />	
	  <script type="text/javascript" language="Javascript" 
						src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
	  <script type="text/javascript" language="Javascript" src="{% static 'js/modernizr.js' %}"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-45019164-1', 'house-bot.com');
			ga('send', 'pageview');
		</script>
		<title>House-Bot: Share, Enjoy, Together. Making eating together and sharing cooking easy.</title>
		<meta name="description" content="House-Bot makes eating together and sharing the cooking easy. Cook when you can, eat when you want. House-Bot finds out who wants in and whos turn it is to cook. Enjoy sharing your cooking and meals together."</meta>
	</head>
	
  <body>
		
		{% if messages %}
		<div id="messages" class="full-width messages green center txt-white">
			<ul>
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

    <div style="position: absolute; top: 1em; left: 1em; width:7.5%; min-width:5em" >
      <a href="https://bitbucket.org/s_parkinson/house-bot">
        <img class="welcome-title" src="{% static 'svg/bitbucket_white_text.svg' %}" alt="fork me on bitbcket" style="width: 100%;"/>
      </a>
    </div>

		<div id="welcome" class="full-width screen-height b-grad-blue shadow-green">
		  <div class="container_16 clearfix">

		    <!-- <div id="photo" class="top-photo d-shadow-blue grid_3 push_1 alpha"> -->
		    <!-- 	<img class="photo" src="{% static 'img/instagram_0.png' %}"  -->
		    <!-- 			 alt="social House-Bot"/>  -->
		    <!-- </div> -->
		    <div id="title" class="grid_8 prefix_4 txt-white center">
		      <img class="welcome-title" src="{% static 'svg/welcome-title.svg' %}" 
			   alt="House-Bot logo"/>
		      <span>
			<p>Making eating together and sharing the cooking easy.</p>
			<!-- <p>Cook when you can, eat when you want.</p> -->
			<p>House-Bot finds out who wants in and whos turn it is to cook. </p>
			<p>Enjoy sharing your cooking and meals together.</p>
		      </span>
		      <ul class="button_menu">
			<a href="{% url 'login' %}"><li>Log in</li></a>
			<a href="{% url 'sign up' %}"><li>Sign up</li></a>
		      </ul>
		      <div class="container_15 clearfix why">
			<div id="why-1" class="c15_grid_3">
			  <img class="smaller" src="{% static 'svg/get_together.svg' %}"
			       alt="get together"/>
			  <p>
			    Get together
			  </p>
			</div>
			<div id="why-2" class="c15_grid_3">
			  <img class="smaller" src="{% static 'svg/save_time_money.svg' %}"
			       alt="save time and money"/>
			  <p>
			    Save time and money
			  </p>
			</div>
			<div id="why-3" class="c15_grid_3">
			  <img class="smaller" src="{% static 'svg/improve_your_cooking.svg' %}"
			       alt="improve your cooking"/>
			  <p>
			    Improve your cooking
			  </p>
			</div>
			<div id="why-4" class="c15_grid_3">
			  <img class="smaller" src="{% static 'svg/eat_well.svg' %}"
			       alt="eat well"/>
			  <p>
			    Eat well
			  </p>
			</div>
			<div id="why-5" class="c15_grid_3">
			  <img class="smaller" src="{% static 'svg/less_waste.svg' %}"
			       alt="waste less"/>
			  <p>
			    Waste less
			  </p>
			</div>
		      </div>
		    </div>
		    <div id="more" class="grid_2 pull_1 right">
		      <a href="#more">
			<img class="welcome-more" 
			     src="{% static 'svg/welcome-more.svg' %}" alt="see more"/>
		      </a>
		    </div>
		  </div>
		</div>

		<div class="container_16 clearfix">

			<!-- spacer -->
			<div class="fill space-3"></div>

			<!-- fridge -->
			<div id="fridge" class="grid_14 push_1 fridge b-grad-orange clearfix">
				<img class="fridge-highlight grid_14 prefix_1" src="{% static 'svg/fridge-highlight.svg' %}"
						 alt="fridge highlight"/> 

				<!-- how it works -->
				<img class="how-title grid_8 prefix_1 suffix_7" src="{% static 'svg/how-title.svg' %}"
						 alt="how it works title"/> 
				<div class="grid_14 prefix_1 omega how-content">
					<div id="how-1" class="grid_4">
						<img class="purple d-shadow-orange how-1 fill" src="{% static 'svg/step1.svg' %}"
						 alt="how it works 1"/>
						<div class="white d-shadow-orange txt-darkgrey fill">
							<p>
								Add your motley crew of chefs and eaters
							</p>
						</div>
					</div>
					<div id="how-2" class="grid_4">
						<img class="green d-shadow-orange how-2 fill" src="{% static 'svg/step2.svg' %}"
						 alt="how it works 2"/>
						<div class="white d-shadow-orange txt-darkgrey fill">
							<p>
								Each day House-Bot asks "Who is in for dinner?"
							</p>
						</div>
					</div>
					<div id="how-3" class="grid_4">
						<img class="turquiose d-shadow-orange how-3 fill" src="{% static 'svg/step3.svg' %}"
						 alt="how it works 3"/>
						<div class="white d-shadow-orange txt-darkgrey fill">
							<p>
								Everyone responds
							</p>
						</div>
					</div>
					<div id="how-4" class="grid_4">
						<img class="l-blue d-shadow-orange how-4 fill" src="{% static 'svg/step4.svg' %}"
						 alt="how it works 4"/>
						<div class="white d-shadow-orange txt-darkgrey fill">
							<p>
								House-Bot works out who is cooking
							</p>
						</div>
					</div>
				</div>
				
				<!-- door handle -->
				<img class="fill" src="{% static 'svg/fridge-split.svg' %}"
						 alt="fridge freezer divider"/> 

<!-- 				<\!-- social -\-> -->
<!-- 				<div id="social-1" class="grid_6 prefix_1 social"> -->
<!-- 					<div class="twitter grid_16"> -->
<!-- 						<a href="https://twitter.com/_house_bot"> -->
<!-- 							<img id="twitter-logo" class="twitter-logo" src="{% static 'svg/twitter.svg' %}" -->
<!-- 									 alt="twitter"/>  -->
<!-- 						</a> -->
<!-- 						<div class="comments d-shadow-orange"> -->
<!-- 							<a class="twitter-timeline" href="https://twitter.com/_house_bot/favorites" data-widget-id="405284992042811392" data-chrome="nofooter noborders transparent" data-tweet-limit="2">Favorite Tweets by @_house_bot</a> -->
<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
<!-- 							<\!-- <p>@{{ message_0_u }}: {{ message_0 }}</p> -\-> -->
<!-- 							<\!-- <p id="tweet2">@{{ message_1_u }}: {{ message_1 }}</p> -\-> -->
<!-- 							<\!-- <p id="tweet3">@{{ message_2_u }}: {{ message_2 }}</p> -\-> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<a href="https://www.facebook.com/housebot">  -->
<!-- 						<img id="facebook" class="facebook right" src="{% static 'svg/facebook.svg' %}" -->
<!-- 								 alt="facebook"/>  -->
<!-- 					</a> -->
<!-- 				</div> -->
<!-- 				<div id="social-2" class="photo-set grid_8  clearfix"> -->
<!-- 					<img class="instagram" src="{% static 'svg/instagram.svg' %}" -->
<!-- 							 alt="instagram"/>  -->
<!-- 					<div class="pf-0 photo-frame d-shadow-orange"> -->
<!-- 						<img class="photo" src="{% static 'img/instagram_0.png' %}"  -->
<!-- 								 alt="instragram feed 0"/>  -->
<!-- 					</div> -->
<!-- 					<div class="pf-1 photo-frame d-shadow-orange"> -->
<!-- 						<img class="photo" src="{% static 'img/instagram_1.png' %}"  -->
<!-- 								 alt="instragram feed 1"/>  -->
<!-- 					</div> -->
<!-- 				</div> -->

				<!-- sign up -->
				<div class="grid_16 center">
					<a href="{% url 'sign up' %}">
						<img class="sign-up" src="{% static 'svg/sign-up.svg' %}" />
					</a>
				</div>
			</div>
			<div class="grid_16 space-3"></div>

		</div>

		<div class="b-darkgrey txt-grey footer shadow-green center clearfix">
			<a class="contact" href="{% url 'contact_form' %}">
				<img src="{% static 'img/contact.png' %}" />
				<p>CONTACT US</p>
				<p>we would love to hear your feedback</p>
			</a>
			<p>&copy; House-Bot 2013&nbsp;&nbsp;</p>
		</div>
	 
    <script type="text/javascript" language="Javascript">
		  function size_welcome() {
					var welcome = $("#welcome");
					var welcome_title = $("#title");
					var welcome_title_height = welcome_title.innerHeight();

					if ($(window).width() > 1000) {
							$("#photo").show();
							<!-- $("#tweet2").show(); -->
							<!-- $("#tweet3").show(); -->

							welcome_title.removeClass('grid_16').addClass('grid_8')
							welcome_title.addClass('prefix_4')

							$("#fridge")
									.css({
											'border-radius': '12%/6%', 
									})

							if ($(window).height() > welcome_title_height + 50) {
									var more = $("#more");
									var more_height = more.outerHeight();
									var more_margin = $(window).height() - more_height;
									more.css("marginTop", more_margin);

									welcome.height($(window).height());

									var welcome_title_margin = ($(window).height() - welcome_title_height)/2.0;
									welcome_title.css("marginTop", welcome_title_margin - 20);	
									welcome_title.css("marginBottom", welcome_title_margin + 20);	
							}
							else {
									var more = $("#more");
									var more_height = more.outerHeight();
									var more_margin = welcome_title_height + 50 - more_height;
									more.css("marginTop", more_margin);

									welcome.height(welcome_title_height + 50);

									welcome_title.css("marginTop", 5);	
									welcome_title.css("marginBottom", 45);	
							}

							$("#how-1").removeClass('grid_8').addClass('grid_4')
							$("#how-2").removeClass('grid_8').addClass('grid_4')
							$("#how-3").removeClass('grid_8').addClass('grid_4')
							$("#how-4").removeClass('grid_8').addClass('grid_4')
					}
					else {
							$("#photo").hide();
							<!-- $("#tweet3").hide(); -->
							<!-- if ($(window).width() > 850) { -->
							<!-- 		$("#tweet2").show(); -->
							<!-- } -->
							<!-- else { -->
							<!-- 		$("#tweet2").hide(); -->
							<!-- } -->

							welcome_title.removeClass('grid_8').addClass('grid_16')
							welcome_title.removeClass('prefix_4')

							$("#fridge")
									.css({
											'border-radius': '12%/4%', 
									})
									
							var more = $("#more");
							more.css("marginTop", 0);

							if ($(window).height() > welcome_title_height + more.outerHeight() + 5) {
									welcome.height($(window).height());
									
									var welcome_title_margin = ($(window).height() - welcome_title_height)/2.0;
									welcome_title.css("marginTop", welcome_title_margin - 20);	
									welcome_title.css("marginBottom", 0);	
									
									var more = $("#more");
									var more_margin = $(window).height() - more.outerHeight() - 
											welcome_title.innerHeight() - welcome_title_margin + 20;
									more.css("marginTop", more_margin);
							}
							else {	
									welcome.height(welcome_title_height + more.outerHeight() + 5);
									
									var welcome_title_margin = ($(window).height() - welcome_title_height)/2.0;
									welcome_title.css("marginTop", 5);	
									welcome_title.css("marginBottom", 0);	
							}

							$("#how-1").removeClass('grid_4').addClass('grid_8')
							$("#how-2").removeClass('grid_4').addClass('grid_8')
							$("#how-3").removeClass('grid_4').addClass('grid_8')
							$("#how-4").removeClass('grid_4').addClass('grid_8')
					}

					// social sizing
					if ($(window).width() > 1000) {
							$("#social-1").addClass('grid_6').removeClass('grid_14')
							$("#social-2").addClass('grid_8').removeClass('grid_14').removeClass('prefix_1')
							$("#twitter-logo").addClass('twitter-logo').removeClass('twitter-logo-small')
							$("#facebook").addClass('facebook').removeClass('facebook-small')							
					}
					else {
							$("#social-1").removeClass('grid_6').addClass('grid_14')
							$("#social-2").removeClass('grid_8').addClass('grid_14').addClass('prefix_1')
							$("#twitter-logo").removeClass('twitter-logo').addClass('twitter-logo-small')
							$("#facebook").removeClass('facebook').addClass('facebook-small')							
					}							
			}

      window.addEventListener('DOMContentLoaded', function(e) {
					size_welcome();
      }, false)

      window.onload = function() {
					size_welcome();
      };

      window.onresize = function() {
					size_welcome();
      };

      // if (!Modernizr.svg) {
			// 		$(".welcome-title img").attr("src", "{% static 'img/welcome-title.png' %}");
			// }

      $("#messages").click(function() {
					// alert( "Handler for .click() called." );
					$("#messages").slideUp( 200, function() {
							size_welcome();
					})
			})										
		</script>

  </body>
</html>
