{% extends "email_base.html" %}

{% block content %}
		<tr>
			<td colspan="3" bgcolor="#ffffff" style="padding: 10px 50px; color:#33394C" >
				<h2 style="color:#2D69BF">Your House-bot invitation.</h2>
				<p>You have been invited to join '{{ cook_group }}' at House-bot by {{ member }}.</p>
				<p>Click <a href="http://{{ domain }}{% url 'sign up to group'%}?e={{ email }}&g={{ cook_group.id }}" style="color:#33394C;">here</a> and complete the online form to become a member.</p>
				<p>We look forward to seeing you soon.</p>
				<p>The <strong>house-bot</strong> team.</p>
			</td>
{% endblock content %}
