{% extends "email_base.html" %}

{% block content %}
{% autoescape off %}
		<tr>
			<td colspan="3" bgcolor="#ffffff" style="padding: 10px 50px; color:#33394C" >
				<h2 style="color:#2D69BF">Password reset.</h2>
				<p>You're receiving this e-mail because you requested a password reset for your user account at house-bot.</p>
				<p>Please go to the following page and choose a new password:
					{% block reset_link %}
					{{ protocol }}://{{ domain }}{% url "django.contrib.auth.views.password_reset_confirm" uidb36=uid token=token %}
					{% endblock %}</p>
				<p>Thanks for using our site!</p>
				<p>The <strong>house-bot</strong> team.</p>				
			</td>
		</tr>
    <tr>
      <td colspan="3" bgcolor="#ffffff" height=10px/>
    </tr>	
{% endautoescape %}
{% endblock content %}
