{% extends "email_base.html" %}

{% block content %}
<tr>
	<td colspan="3" bgcolor="#ffffff" style="padding: 10px 50px; color:#33394C" >
		<h2 style="color:#2D69BF">Welcome to House-bot!</h2>
		<p>Hello {{ member }}. It's great to have you on board! </p>
		{% if token %}
		<p>Follow <a href="http://www.house-bot.com{% url 'verify' uid=uid token=token %}" style="color:#33394C;">this link</a> to verify your email address and confirm your registration.
		{% else %}
		<p>We are just writing to confirm that your account has been set up correctly. You do not have to do anything now. We will email you again when it is time to make a choice about communal eating.</p>
		{% endif %}
		<p>To make sure that our emails get through to your inbox please add <a href="mailto:house-bot@house-bot.com" style="color:#33394C;">house-bot@house-bot.com<a> to your address book.</p>
		<p>The <strong>house-bot</strong> team.</p>
	</td>
</tr>

<tr>
  <td colspan="3" bgcolor="#ffffff" height=10px/>
</tr>
{% endblock content %}
